*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties
node_modules/
*.log
.vscode/
.opencode/
.opencode
diseño de pantallas/
docs/
hermes/
